* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  overflow-y: overlay;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0;
}

::-webkit-scrollbar-thumb {
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(178, 178, 179);
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.up-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: rgb(178, 178, 179);
  color: white;
}

.modal-body table {
  padding: 2rem 0;
}
.modal-body table td {
  text-align: center;
  margin: auto;
}

header {
  background-color: rgb(178, 178, 179);
}
header h3 {
  margin-bottom: 0;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
header button {
  position: relative;
  z-index: 10;
}
header button i {
  color: white;
  font-size: 2rem;
}
header button span {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 0;
  color: rgb(178, 178, 179);
  font-size: 0.75rem;
  font-weight: 900;
}

.carousel .carousel-item {
  height: calc(100vh - 70.4px);
}
.carousel .carousel-item img {
  height: 100%;
  margin: auto;
  object-fit: cover;
}
.carousel .carousel-item-1 {
  padding: 2rem 0;
  background-color: white;
}
.carousel .carousel-item-1 img {
  object-fit: contain;
}
.carousel .carousel-item-2 {
  position: relative;
  background-color: #f8f8f8;
  background-image: url(../Image/samsung-banner.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.carousel .carousel-item-2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 50%;
}
.carousel .carousel-item-2 h3,
.carousel .carousel-item-2 p {
  font-size: 3rem;
}
@media screen and (max-width: 991.98px) {
  .carousel .carousel-item-2 h3,
.carousel .carousel-item-2 p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767.98px) {
  .carousel .carousel-item-2 h3,
.carousel .carousel-item-2 p {
    font-size: 1.5rem;
  }
}
.carousel .carousel-item-3 {
  background-color: #fefefe;
}

.carousel .carousel-indicators li {
  background-color: black;
}

#product-big-list {
  position: relative;
}

.product-cover {
  position: relative;
  margin-bottom: 3rem;
  border: 2px solid rgb(178, 178, 179);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 1s;
}
.product-cover .product-brand-logo {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-bottom: 2px solid rgb(178, 178, 179);
  background-color: rgb(178, 178, 179);
}
.product-cover .product-brand-logo img {
  height: 100%;
  object-fit: cover;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 2rem;
}
@media screen and (max-width: 1199.98px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 767.98px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
  }
}
.product-container .product-item {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.product-container .product-item img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 1.5rem;
}
.product-container .product-item .product-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container .product-item .product-content h5 {
  margin: 0;
}
.product-container .product-item .product-content .product-specification {
  width: 100%;
  height: 3rem;
  margin: 1rem 0 0.5rem 0;
  overflow: scroll;
}
.product-container .product-item .product-content .product-specification ul {
  margin: 0;
}
.product-container .product-item .product-content .product-specification li {
  display: flex;
}
.product-container .product-item .product-content .product-specification li span:first-child {
  display: inline-block;
  width: 31%;
  padding-right: 0.5rem;
  text-align: right;
}
.product-container .product-item .product-content .product-specification li span:last-child {
  display: inline-block;
  width: 69%;
}
@media screen and (max-width: 991.98px) {
  .product-container .product-item .product-content .product-specification {
    height: 2.25rem;
    font-size: 0.75rem;
  }
}
.product-container .product-item .product-content .price {
  width: 100%;
  padding-left: 7.5%;
}
.product-container .product-item .product-content .price button {
  padding: 0.25rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  font-size: 0.75rem;
  transition: 0.5s;
}
.product-container .product-item .product-content .price button:hover {
  background-color: #0069d9;
}/*# sourceMappingURL=main.css.map */