.carousel {
    .carousel-item {
        height: calc(100vh - 70.4px);
        img {
            height: 100%;
            margin: auto;
            object-fit: cover;
        }
    }
    .carousel-item-1 {
        padding: 2rem 0;
        background-color: white;
        img {
            object-fit: contain;
        }
    }
    .carousel-item-2 {
        position: relative;
        background-color: #f8f8f8;
        background-image: url(../Image/samsung-banner.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0%;
            left: 50%;
        }
        h3,
        p {
            font-size: 3rem;
            @include MediaQuery($md) {
                font-size: 2rem;
            }
            @include MediaQuery($sm) {
                font-size: 1.5rem;
            }
        }
    }
    .carousel-item-3 {
        background-color: #fefefe;
    }
}

.carousel {
    .carousel-indicators {
        li {
            background-color: black;
        }
    }
}
