#product-big-list {
    position: relative;
}

.product-cover {
    position: relative;
    margin-bottom: 3rem;
    border: 2px solid $background-color-01;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 1s;
    .product-brand-logo {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        border-bottom: 2px solid $background-color-01;
        background-color: $background-color-01;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 2rem;
    @include MediaQuery($lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include MediaQuery($sm) {
        grid-template-columns: 1fr 1fr;
    }
    .product-item {
        width: 100%;
        height: 20rem;
        @include flex-col-alignCenter;
        padding: 1rem;
        img {
            width: 100%;
            height: 50%;
            object-fit: contain;
            margin-bottom: 1.5rem;
        }
        .product-content {
            width: 100%;
            @include flex-col-alignCenter;
            h5 {
                margin: 0;
            }
            .product-specification {
                width: 100%;
                height: 3rem;
                margin: 1rem 0 0.5rem 0;
                overflow: scroll;
                ul {
                    margin: 0;
                }
                li {
                    display: flex;
                }
                li span:first-child {
                    display: inline-block;
                    width: 31%;
                    padding-right: 0.5rem;
                    text-align: right;
                }
                li span:last-child {
                    display: inline-block;
                    width: 69%;
                }
                @include MediaQuery($md) {
                    height: 2.25rem;
                    font-size: 0.75rem;
                }
            }
            .price {
                width: 100%;
                padding-left: 7.5%;
                button {
                    padding: 0.25rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: $primary-color;
                    color: white;
                    font-size: 0.75rem;
                    transition: 0.5s;
                    &:hover {
                        background-color: $primary-hover-color;
                    }
                }
            }
        }
    }
}
