* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
html {
    overflow-y: overlay;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0;
}
::-webkit-scrollbar-thumb {
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: $background-color-01;
}
